@import "../vars";

.ProductItem {
  width: 240px;
}
.ProductImage {
  display: flex;
  justify-content: center;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 10px 0;
}

.details {
  width: 70%;
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.product-info figure {
  margin: 0;
  cursor: pointer;
}

.button-add-to-cart {
  height: 40px;
  width: 40px;
}

.button-added-to-cart {
  height: 45px;
  width: 45px;

  img {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
  }
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: $--md;
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: $--sm;
  margin-top: 0;
  margin-bottom: 0;
  color: $--very-light-pink;
}
